.container {
  background-color: #3a0c66;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  width: 65%;
  height: 100%;
  margin: 0 auto 2rem;
  box-sizing: border-box;
  border: 2px black solid;
  border-radius: 10px;
}

#appTitle {
  text-align: center;
  margin: 0 auto;
  display: block;
  font-size: 3.5rem;
}

#genreForm {
  text-align: center;
  margin: 0px auto;
  display: block;
}

#movieInfo {
  width: 90%;
  margin: 1rem auto;
}

#movieInfo:after {
  content: "";
  display: table;
  clear: both;
}

#moviePoster {
  width: 40%;
  float: left;
}

#movieText {
  width: 55%;
  float: left;
  padding-left: 2rem;
}

img#moviePoster {
  width: 90%;
  height: auto;
  display: block;
  margin: 1rem auto;
}

#movieText {
  line-height: 1.5;
}

label {
  display: block;
  font-size: 1.5rem;
  margin: 1rem;
}

select {
  width: 15rem;
  height: auto;
  font-size: 1.2rem;
}